
out/
src/CodeWars/
src/Stepik/
src/Yandex/

.idea/

!src/Netology
src/Netology/*
!src/Netology/Multithread_Functional/
src/Netology/Multithread_Functional/*
!src/Netology/Multithread_Functional/TDD_DDD
src/Netology/Multithread_Functional/TDD_DDD/*
!src/Netology/Multithread_Functional/TDD_DDD/TDD
src/Netology/Multithread_Functional/TDD_DDD/TDD/DoneSomething.java
AlgoInput.txt
dateInput.txt
MyStudy.iml
StationInput.txt

